<h1><%= @tasks.title %></h1>

<h3>
  <%= @tasks.details %>
</h3>
<%= link_to "Edit this task", edit_path %>
<%= link_to "Return to Homepage", tasks_path %>
<%= link_to "delete this task", delete_path, method: :delete, data: {confirm: "Are you sure?"} %>

